body{
    background-color: rgb(192, 127, 208);
}
h1{
    color: rgb(81, 7, 110);
}
p{
    color: blueviolet; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: x-large; font-weight: 100; margin: 0cqmax;
}.c
.primaria{
    color: aqua;
}
.caja{
    width: 200px;
    height: 200px;
    margin: 100px;
    padding: 50px;
    border: 10px double rgb(140, 39, 151);
}
h5{
    color: rgb(156, 29, 126);
    background-color: rgb(211, 136, 193);
}
#primer{
    width: 100px;
    height: 50px;
    margin: 50px;
    padding: 60px;
    border: 5px solid violet; }
.caja1:hover{ width: 80px;
    height: 20px;
    margin: 20px;
    padding: 10px;
    border: 5px solid rgb(140, 39, 151);}
 
.caja2:hover:hover{ width: 80px;
    height: 10px;
    margin: 10px;
    padding: 10px;
    border: 5px solid rgb(140, 39, 151);}
.contenedor{
    display: flow-root;
}
body{
    background-image: url('imagen.jpg'); 
background-size: cover; 
background-position: center;
height: 100vh; 
color: white;
}


