body{
    background-color: rgb(192, 127, 208);
}
h1{
    color: rgb(81, 7, 110);
}
p{
    color: blueviolet; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: x-large; font-weight: 100; margin: 0cqmax;
}.c
.primaria{
    color: aqua;
}
.caja{
    width: 200px;
    height: 200px;
    margin: 100px;
    padding: 50px;
    border: 10px hsl(hue, saturation, lightness) rgb(140, 39, 151);
}